@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.body{
    background-color: antiquewhite;
    margin: 0;
}
.header{
    background-image: url("../styles/images/avatar.jpg");
    background-size: auto;
    min-height: 35vh;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.bars{
    background-color: antiquewhite;
    border-radius: 7px;
}

.col{
    background-color: #009688;
    color: white;
    border-radius: 9px;
    text-align: end;
}

#container1{
    width: 25vw;
    display: block;
    background-color: white;
}

#container2{
    width: 40vw;
}

#experiance,
#education {
    display: block;
}

#main{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 3vw;
    width: 80%;
    margin: auto;
}

footer{
    background-color: #009688;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    display: flex;
    align-items: center;
    gap: 1rem;
}